/* color palette  */

:root {
    --light-bg: hsl(210, 17%, 98%);
    --text-color: hsl(210, 10%, 23%);
    --primary-color: hsl(135, 39%, 49%);
}

/* body  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "urbanist", sans-serif;
    line-height: 1.7;
    padding: 30px 15px;
    background-color: var(--light-bg);
    color: var(--text-color);
}

/* main section  */

.app {
    text-align: center;
    padding: 0 15px;
    margin-inline: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    max-width: 600px;
    box-shadow: 0px 4px 15px hsla(0, 0%, 0%, 0.8);
    border-radius: 8px;
    border: none;
    margin-inline: auto;
}

#search-input {
    padding: 15px 20px;
    font-size: 1rem;
    flex-grow: 1;
    border: 1px solid hsl(210, 16%, 93%);
    border-radius: 8px 0px 0px 8px;
    outline: none;
}

#search-input:focus {
    border-color: var(--primary-color);
}

#search-button {
    flex-grow: 1;
    border-radius: 0px 8px 8px 0px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "urbanist", sans-serif;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

#randomn-recipe-button {
    padding: 10px 25px;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "urbanist", sans-serif;
    background-color: #ff9800;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 8px hsla(0, 0%, 0%, 0.1);
}

#randomn-recipe-button:hover {
    background-color: #f57c00;
    transform: translateY(2px);
}

/* Result section  */

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.recipe-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.recipe-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    transform: all 0.25s ease-in-out;
}

.recipe-item h3 {
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
}

.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px hsla(0, 0%, 0%, 0.12);
}

/* modal popup  */

.modal-container{
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}

.modal-container.hidden{
    opacity: 0;
    /* visibility: hidden; */
}